body {
    font-family: 'Source Code Pro';
}

header, section, footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(backgroundgif1.gif);
    background-size: cover;
    background-position-y: top;
}

#seccion1 {
    height: 315px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(backgroundgif1.gif);
    background-size: cover;
    background-position-y: bottom;
    margin-top: 10px;
}

#seccion2 {
    height: 300px;
    background-color: #009999;
    margin-top: 10px;
}

#seccion3 {
    height: 300px;
    background-color: #00cc99;
    margin-top: 10px;
}

#seccion4 {
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(backgroundgif3.gif);
    background-size: cover;
    background-position-y: bottom;
    margin-top: 10px;
}

#seccion4 img {
    width: 100%;
    height: 100%;
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.8);
    
}

footer {
    height: 80px;
    background-image: url(backgroundgif2.gif);
    background-size: cover;
    background-position-y: top;
    margin-top: 10px;
}

#icono {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    float: left;
    margin: 20px;
    margin-left: 20px;
    box-sizing: border-box;
}

h1{
    font-size: 15px;
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav {
    width: 190px;
    height: 40px;
    border-radius: 15px;
    float: right;
    margin: 20px;
    margin-right: 20px;
}

#botonera {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#botonera li {
    display: inline;
    padding: 0px;
    margin: 0px;
}

#botonera li a{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

#botonera li a img{
    width: 100%;
}

#txtinicial {
    width: 500px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 40px;
    float: left;
    margin-left: 210px;
    padding: 15px;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

#txtinicial h2 {
    font-size: 15px;
    color: white;
    text-align: right;
    margin: 0px;
    
}

#txtinicial p {
    font-size: 13px;
    color: white;
    text-align: justify;
    margin: 0px;
    margin-top: 10px;
}

#tarjeta1 {
    width: 190px;
    height: 260px;
    background-color: #00cccc;
    margin: 20px;
    float: left;
}

#descripcion1 {
    width: 500px;
    height: 150px;
    background-color: #00cccc;
    float: left;
    margin-top: 20px;
}

#tarjeta2 {
    width: 190px;
    height: 260px;
    background-color: #00ffbf;
    margin: 20px;
    float: right;
}

#descripcion2 {
    width: 500px;
    height: 150px;
    background-color: #00ffbf;
    float: right;
    margin-top: 130px;
}

#opcion1 {
    width: 260px;
    height: 260px;
    background-color: #40bf80;
    float: left;
    margin: 20px;
    margin-left: 30px;
}

#opcion2 {
    width: 260px;
    height: 260px;
    background-color: #40bf80;
    float: left;
    margin: 20px;
    margin-left: 40px;
}

#opcion3 {
    width: 260px;
    height: 260px;
    background-color: #40bf80;
    float: left;
    margin: 20px;
    margin-left: 40px;
}

#redes {
    width: 100px;
    height: 40px;;
    border-radius: 10px;
    float: left;
    margin: 20px;
    margin-left: 20px;
}

#redes ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#redes ul li {
    display: inline;
    padding: 0px;
    margin: 0px;
}

#redes ul li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

#redes ul li a img{
    width: 100%;
}


#firma {
    width: 80px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    float: right;
    margin: 20px;
    margin-right: 20px;
}

#firma h2 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}

@media all and (min-width: 600px) and (max-width: 1023px){
    
    header, section, footer {
        width: 580px;
    }
    
    #seccion1 {
        height: 155px;
    }
    
    #seccion2 {
        height: 300px;
    }
    
    #seccion3 {
        height: 300px;
    }
    
    #seccion4 {
        height: 900px;
        background-size: 100%;      
    }
    
    #seccion4 img {
        width: 100%;
        height: 100%;
        box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.8);         
    }

    #txtinicial {
        background-color: rgba(0, 0, 0, 0.3);
        margin-top: 15px;
        margin-left: 40px;
    }

    #descripcion1 {
        width: 330px;
        height: 260px;
    }

    #descripcion2 {
        width: 330px;
        height: 260px;
        margin-top: 20px;
    }
    
    #opcion1 {
        float: left;
        margin-left: 20px;
    }
    
    #opcion2 {
        float: left;
        margin-left: 160px;
    }
    
    #opcion3 {
        float: right;
        margin-left: 30px;
    }

}

@media all and (max-width: 599px){

    header, section, footer {
        width: 98%;
    }

    header {
        background-size:auto;
    }

    #seccion1 {
        margin-top: 10px;
        height: 455px;
        background-size: auto;
        position: relative;
    }
    
    #seccion2 {
        height: 470px;
    }
    
    #seccion3 {
        height: 470px;
    }
    
    #seccion4 {
        height: 900px;
        background-size: cover;
    }
    
    footer {
        height: 80px;
        background-image: url(backgroundgif2.gif);
        background-size: cover;
        background-position-y: top;
        margin-top: 10px;
    }

    
    #icono {
        margin-right: 0px;    
        margin-left: 10px;
    }

    nav {
        margin-left: 0px;
        margin-right: 10px;
    }
    

    #txtinicial {
        width: 100%;
        height: 155px;
        background-color: rgba(0, 0, 0, 0.4);
        float: none;
        position: absolute;
        margin-left: 0px;
    }

    #tarjeta1 {
        width: 190px;
        height: 260px;
        margin: 10px;
        float: left;
    }
    
    #descripcion1 {
        width: 100%;
        height: 180px;
        float: left;
        margin: 0px;
        margin-top: 0px;
    }
    
    #tarjeta2 {
        width: 190px;
        height: 260px;
        margin: 10px;
        float: right;
    }
    
    #descripcion2 {
        width: 100%;
        height: 180px;
        float: right;
        margin: 0px;
        margin-top: 0px;
    }
        
    #opcion1 {
        float: left;
        margin-left: 20px;
    }
    
    #opcion2 {
        float: right;
        margin-right: 20px;
    }
    
    #opcion3 {
        float: left;
        margin-left: 20px;
    }

    #seccion4 img {
        box-shadow: none;    
    }

    #redes {
        margin-right: 0px;
        margin-left: 10px;
    }
    
    #firma {
        margin-left: 0px;
        margin-right: 10px;
    }

}